.selector-wrapper {
    border: 2px solid green;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: fadeIn 0.6s ease forwards;
    opacity: 0;
}
.cv-content {
    text-align: center;
    width: 100%;
    max-width: 1000px;
}
.cv-content h1 {
    font-family: var(--font-display);
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 2.2rem;
}
.cv-content p {
    margin-bottom: 40px;
    color: var(--color-secondary);
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    width: 100%;
}
.card {
    width: 100%;
    max-width: 300px;
    padding: 25px;
    border-radius: 12px;
    background-color: var(--color-surface);
    box-shadow: var( --shadow-md);
    color: var(--color-primary);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.3s ease;
    transform: translateY(30px);
    opacity: 0;
    animation: slideUp 0.6s forwards;
}

.card:nth-child(1) {
    animation-delay: 0.1s;
}
.card:nth-child(2) {
    animation-delay: 0.3s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    background-color: #f0f0f0;
}
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card p {
    font-size: 0.95rem;
    color: var(--color-secondary);
    margin-bottom: 15px;
}
.btn {
    border: 2px solid red;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: var(--color-accent);
    color: var(--color-surface);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
    background-color: #dc2626;
    transform: scale(1.05);
}
/* Animation */
@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
       transform: translateY(0);
       opacity: 1; 
    }
}
@media (max-width: 768px) {
    .cv-content h1 {
        font-size: 1.8rem;
    }
}
@media (max-width: 480px) {
    .cv-content h1 {
        font-size: 1.5rem;
    }
    .card h2 {
        font-size: 1.3rem;
    }
    .card p {
        font-size: 0.9rem;
    }
    .btn {
        padding: 8px 14px;
        font-size: 0.9rem;
    }
}